/* ESTILO 3 */

.auz_gallery_v1 {
	width: 100%;
	margin: 0px;
	padding: 0px;
	 

/*	display: -webkit-flex;
	display: flex;

	-webkit-flex-flow: row wrap;
  	flex-flow: row wrap;*/
}
.auz_gallery_v1 li{	
     width: 100%;  
	margin-bottom: 20px;
	list-style:none;
/*	position: relative;
	float: left;
		display: -webkit-flex;
	display: flex; 



	-webkit-box-sizing: border-box;
	box-sizing: border-box;

	-webkit-transition: width 0.3s ease-out;
	transition: width 0.3s ease-out;*/
}
.auz_gallery_v1 li .auz_box {
	 	

	
	box-shadow: 0px 0px 5px 1px #C9C9C9;
	position:relative;
	 
	background-color: #fff;
	overflow: hidden;
	/*width:100%; */   /* para que si el tamaño de la caja no rellena el ancho establecido, no sea más pequeña.*/
}
.auz_gallery_v1 li figure{
	display: inline-block;
	 width: 30%;
	 vertical-align: top;   
	  padding:0px;
	 margin:0px;
}
 
.auz_gallery_v1 div.contenido{
	 display: inline-block;
	 width: 65%;
	 vertical-align: top;   
	  padding: 10px; 

/*
	position:relative; 
	padding: 10px; 
	margin-right: 0px; 
	margin-left: 33%;*/
}
.auz_gallery_v1 div.titulo{
/*FILA*/
	width:100%;
	padding-top: 0px;
 
}
.auz_gallery_v1 div.tituloicono{
	display: inline-block;
    width: 50px;
	 vertical-align: top;   
}
.auz_gallery_v1 div.titulotexto{
	 padding-top: 10px;
	 display: inline-block;
     width: 80%;  
	 vertical-align: top;
}
.auz_gallery_v1 div.titulotexto h3{
      
	font-size: 17px;
	font-weight: bold;
	line-height: 100%; 
	text-align: left;
	 
} 
  .auz_gallery_v1 li section.auz_enlace_derecha {
	position:absolute;
	bottom:0px;
	width: 50%;    /*cada CACHO debe oculpar la mitad, sino se solapan y no funciona el enlace aunque visualmente se vea bien */
	padding: 6px;
	font-weight: 400;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	text-align: right;
	right:0;
} 
 
 