/* ESTILO 2 */

.auz_gallery_v1 {
	width: 100%;
	margin: 0 auto;
	overflow: hidden;

	display: -webkit-flex;
	display: flex;

	-webkit-flex-flow: row wrap;
  	flex-flow: row wrap;
}
.auz_gallery_v1 li{	
 /*	width: 33.333%; 3 COLUMNAS PERO  si GESTIONAMOS EL NÚMERO DE COUMNAS DESDE PHP no hace responsive*/  
	
	position: relative;
	float: left;
	padding: 0.625rem;

	display: -webkit-flex;
	display: flex;

	-webkit-box-sizing: border-box;
	box-sizing: border-box;

	-webkit-transition: width 0.3s ease-out;
	transition: width 0.3s ease-out;
}
.auz_gallery_v1 li .auz_box {
	box-shadow: 0px 0px 5px 1px #C9C9C9;
	position:relative;
	padding: 6px 6px 30px 6px;
	background-color: #fff;
	overflow: hidden;
	width:100%;      /* para que si el tamaño de la caja no rellena el ancho establecido, no sea más pequeña.*/
}
.auz_gallery_v1 li figure{
	display: block;
	width: 100%;
	/*original en la hoja js.alqaid.info
			margin-bottom: 6px;   quitado por que la imagen la descuadra*/
  margin: 0px 0px 0px 0px;

	/* modifiaciones 2018-02-24*/
	/* height: 200px;*/
	 background-image:  url("fondoblanco.png"); 
	 overflow:hidden; 
	/* para iconos pequeños*/
	    text-align: center;
}
.auz_gallery_v1 li img{		
/*  VERSION ORIGINAL	
	width: 100%;
	height: auto;   OCULTO 2018-02-24*/
  
}
.auz_gallery_v1 li h3{
	margin-bottom: 6px;
	font-size: 17px;
	font-weight: bold;
	line-height: 100%;
	text-transform: uppercase;
	text-align: center;
	color: #000;
	padding-top: 10px;
}
.auz_gallery_v1 li section.auz_enlace_izquierda, .auz_gallery_v1 li section.auz_enlace_derecha{
	position:absolute;
	bottom:0px;
	width: 50%;    /*cada CACHO debe oculpar la mitad, sino se solapan y no funciona el enlace aunque visualmente se vea bien */
	padding: 6px;
	font-weight: 400;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.auz_gallery_v1 li section.auz_enlace_izquierda{
	text-align: left;
	left:0;
}

.auz_gallery_v1 li section.auz_enlace_derecha{
	text-align: right;
	right:0;
}

.auz_gallery_v1 li:nth-child(even) .auz_box {
	/*background: #eee;    bloque alternativo en colores*/
}
.auz_textoampliado {
		 padding-bottom: 25px;
	}
/* MEDIA QUERIES */
/*
@media screen and (max-width:1500px) {

	.auz_gallery_v1 {
		width: auto;
	}

}*/

@media screen and (max-width:1000px) {

	.auz_gallery_v1 li {
		width: 50%;
	}

}

@media screen and (max-width:700px) {

	.auz_gallery_v1 li {
		width: 100%;
	}

}