
.et_pb_image_0 .et_pb_image_wrap img{
	height:213px;max-width: none;}
	
.et_pb_image_0,.et_pb_image_1,.et_pb_image_2{
	margin-bottom:30px!important;width:100%;max-width:100%!important;text-align:left;margin-left:0}
	
.et_pb_image_2 .et_pb_image_wrap,.et_pb_image_0 .et_pb_image_wrap,.et_pb_image_1 .et_pb_image_wrap{
	box-shadow:0px 30px 65px -30px rgba(0,0,0,0.35)}
	
.et_pb_image_0 .et_pb_image_wrap,.et_pb_image_0 img,.et_pb_image_1 .et_pb_image_wrap,.et_pb_image_1 img,.et_pb_image_2 .et_pb_image_wrap,.et_pb_image_2 img{
	width:100%
}

.et_pb_image_2 .et_pb_image_wrap img,.et_pb_image_1 .et_pb_image_wrap img{
	height:205px
	}

.et_pb_cta_0.et_pb_promo h2,.et_pb_cta_0.et_pb_promo h1.et_pb_module_header,.et_pb_cta_0.et_pb_promo h3.et_pb_module_header,.et_pb_cta_0.et_pb_promo h4.et_pb_module_header,.et_pb_cta_0.et_pb_promo h5.et_pb_module_header,.et_pb_cta_0.et_pb_promo h6.et_pb_module_header,.et_pb_cta_2.et_pb_promo h2,.et_pb_cta_2.et_pb_promo h1.et_pb_module_header,.et_pb_cta_2.et_pb_promo h3.et_pb_module_header,.et_pb_cta_2.et_pb_promo h4.et_pb_module_header,.et_pb_cta_2.et_pb_promo h5.et_pb_module_header,.et_pb_cta_2.et_pb_promo h6.et_pb_module_header,.et_pb_cta_1.et_pb_promo h2,.et_pb_cta_1.et_pb_promo h1.et_pb_module_header,.et_pb_cta_1.et_pb_promo h3.et_pb_module_header,.et_pb_cta_1.et_pb_promo h4.et_pb_module_header,.et_pb_cta_1.et_pb_promo h5.et_pb_module_header,.et_pb_cta_1.et_pb_promo h6.et_pb_module_header{font-family:'Arimo',Helvetica,Arial,Lucida,sans-serif!important;font-weight:700!important;font-size:16px!important;line-height:1.2em!important;}

.et_pb_module_auzalan{
	
	/*min-height: 220px;*/
}

.et_pb_cta_0.et_pb_promo .et_pb_promo_description div,.et_pb_cta_2.et_pb_promo .et_pb_promo_description div,.et_pb_cta_1.et_pb_promo .et_pb_promo_description div

{font-size:15px;line-height:1.8em}

.et_pb_cta_1.et_pb_promo,.et_pb_cta_0.et_pb_promo,.et_pb_cta_2.et_pb_promo{
	border-width:1px;
	border-color:rgba(0,0,0,0.12);
	padding-top:30px!important;
	padding-right:35px!important;
	padding-bottom:15px!important;
	padding-left:35px!important}
	
 
.et_pb_promo_description {
    padding-bottom: 20px;
    position: relative;
}

.auzalan_mi_sombra{
	box-shadow:0px 30px 65px -30px rgba(0,0,0,0.35)
}