div.et_pb_section.et_pb_section_0{background-image:radial-gradient(circle at top left,rgba(40,40,40,0.79) 0%,rgba(40,40,40,0.86) 100%),url(http://new.aparejadoresalbacete.es/wp-content/uploads/2021/11/construction-33.jpg)!important}.et_pb_section_0.et_pb_section{padding-top:0vw;padding-bottom:0vw}.et_pb_text_0 h1{font-family:'Rubik',Helvetica,Arial,Lucida,sans-serif;font-weight:700;font-size:64px;line-height:1.1em}.et_pb_text_0{border-color:#ffb400;border-left-width:10px;padding-left:16px!important;margin-bottom:0px!important;max-width:800px}.et_pb_text_1{line-height:1.6em;font-size:22px;line-height:1.6em;padding-top:20px!important;padding-right:0px!important;padding-bottom:20px!important;margin-right:-387px!important;max-width:800px}.et_pb_section_1.et_pb_section{background-color:#f7f7f7!important}

.et_pb_image_0 .et_pb_image_wrap img{
	!important;max-width: none;}
	
.et_pb_image_0,.et_pb_image_1,.et_pb_image_2{
	margin-bottom:30px!important;width:100%;max-width:100%!important;text-align:left;margin-left:0}
	
.et_pb_image_2 .et_pb_image_wrap,.et_pb_image_0 .et_pb_image_wrap,.et_pb_image_1 .et_pb_image_wrap{
	box-shadow:0px 30px 65px -30px rgba(0,0,0,0.35)}
	
.et_pb_image_0 .et_pb_image_wrap,.et_pb_image_0 img,.et_pb_image_1 .et_pb_image_wrap,.et_pb_image_1 img,.et_pb_image_2 .et_pb_image_wrap,.et_pb_image_2 img{
	width:100%
}

.et_pb_image_2 .et_pb_image_wrap img,.et_pb_image_1 .et_pb_image_wrap img{
	height:205px
	}

.et_pb_cta_0.et_pb_promo h2,.et_pb_cta_0.et_pb_promo h1.et_pb_module_header,.et_pb_cta_0.et_pb_promo h3.et_pb_module_header,.et_pb_cta_0.et_pb_promo h4.et_pb_module_header,.et_pb_cta_0.et_pb_promo h5.et_pb_module_header,.et_pb_cta_0.et_pb_promo h6.et_pb_module_header,.et_pb_cta_2.et_pb_promo h2,.et_pb_cta_2.et_pb_promo h1.et_pb_module_header,.et_pb_cta_2.et_pb_promo h3.et_pb_module_header,.et_pb_cta_2.et_pb_promo h4.et_pb_module_header,.et_pb_cta_2.et_pb_promo h5.et_pb_module_header,.et_pb_cta_2.et_pb_promo h6.et_pb_module_header,.et_pb_cta_1.et_pb_promo h2,.et_pb_cta_1.et_pb_promo h1.et_pb_module_header,.et_pb_cta_1.et_pb_promo h3.et_pb_module_header,.et_pb_cta_1.et_pb_promo h4.et_pb_module_header,.et_pb_cta_1.et_pb_promo h5.et_pb_module_header,.et_pb_cta_1.et_pb_promo h6.et_pb_module_header{font-family:'Arimo',Helvetica,Arial,Lucida,sans-serif!important;font-weight:700!important;font-size:16px!important;line-height:1.2em!important;}

.et_pb_cta_0.et_pb_promo .et_pb_promo_description div,.et_pb_cta_2.et_pb_promo .et_pb_promo_description div,.et_pb_cta_1.et_pb_promo .et_pb_promo_description div

{font-size:15px;line-height:1.8em}

.et_pb_cta_1.et_pb_promo,.et_pb_cta_0.et_pb_promo,.et_pb_cta_2.et_pb_promo{
	border-width:1px;
	border-color:rgba(0,0,0,0.12);
	padding-top:30px!important;
	padding-right:35px!important;
	padding-bottom:15px!important;
	padding-left:35px!important}
	
	body #page-container .et_pb_section .et_pb_cta_2.et_pb_promo .et_pb_promo_button.et_pb_button,body #page-container .et_pb_section .et_pb_cta_0.et_pb_promo .et_pb_promo_button.et_pb_button,body #page-container .et_pb_section .et_pb_cta_1.et_pb_promo .et_pb_promo_button.et_pb_button{color:#666666!important;border-color:#dfdfdf;border-radius:0px;letter-spacing:4px;font-size:11px;font-family:'Rubik',Helvetica,Arial,Lucida,sans-serif!important;font-weight:700!important;text-transform:uppercase!important}body #page-container .et_pb_section .et_pb_cta_1.et_pb_promo .et_pb_promo_button.et_pb_button:hover,body #page-container .et_pb_section .et_pb_cta_0.et_pb_promo .et_pb_promo_button.et_pb_button:hover,body #page-container .et_pb_section .et_pb_cta_2.et_pb_promo .et_pb_promo_button.et_pb_button:hover{letter-spacing:4px!important;background-image:initial;background-color:rgba(0,0,0,0)}body #page-container .et_pb_section .et_pb_cta_1.et_pb_promo .et_pb_promo_button.et_pb_button:hover:after,body #page-container .et_pb_section .et_pb_cta_0.et_pb_promo .et_pb_promo_button.et_pb_button:hover:after,body #page-container .et_pb_section .et_pb_cta_2.et_pb_promo .et_pb_promo_button.et_pb_button:hover:after{margin-left:.3em;left:auto;margin-left:.3em;opacity:1}body #page-container .et_pb_section .et_pb_cta_1.et_pb_promo .et_pb_promo_button.et_pb_button:after,body #page-container .et_pb_section .et_pb_cta_0.et_pb_promo .et_pb_promo_button.et_pb_button:after,body #page-container .et_pb_section .et_pb_cta_2.et_pb_promo .et_pb_promo_button.et_pb_button:after{line-height:inherit;font-size:inherit!important;margin-left:-1em;left:auto;font-family:ETmodules!important;font-weight:400!important}.et_pb_cta_1.et_pb_promo .et_pb_promo_button.et_pb_button,.et_pb_cta_0.et_pb_promo .et_pb_promo_button.et_pb_button,.et_pb_cta_2.et_pb_promo .et_pb_promo_button.et_pb_button{transition:background-color 300ms ease 0ms,letter-spacing 300ms ease 0ms}.et_pb_row_3,body #page-container .et-db #et-boc .et-l .et_pb_row_3.et_pb_row,body.et_pb_pagebuilder_layout.single #page-container #et-boc .et-l .et_pb_row_3.et_pb_row,body.et_pb_pagebuilder_layout.single.et_full_width_page #page-container #et-boc .et-l .et_pb_row_3.et_pb_row{width:100%;max-width:2560px}@media only screen and (max-width:980px){.et_pb_text_0 h1{font-size:44px}.et_pb_text_0{border-left-width:10px}.et_pb_text_1{font-size:18px}.et_pb_image_0,.et_pb_image_1,.et_pb_image_2{text-align:center;margin-left:auto;margin-right:auto}body #page-container .et_pb_section .et_pb_cta_0.et_pb_promo .et_pb_promo_button.et_pb_button:after,body #page-container .et_pb_section .et_pb_cta_1.et_pb_promo .et_pb_promo_button.et_pb_button:after,body #page-container .et_pb_section .et_pb_cta_2.et_pb_promo .et_pb_promo_button.et_pb_button:after{line-height:inherit;font-size:inherit!important;margin-left:-1em;left:auto;display:inline-block;opacity:0;content:attr(data-icon);font-family:ETmodules!important;font-weight:400!important}body #page-container .et_pb_section .et_pb_cta_0.et_pb_promo .et_pb_promo_button.et_pb_button:before,body #page-container .et_pb_section .et_pb_cta_1.et_pb_promo .et_pb_promo_button.et_pb_button:before,body #page-container .et_pb_section .et_pb_cta_2.et_pb_promo .et_pb_promo_button.et_pb_button:before{display:none}body #page-container .et_pb_section .et_pb_cta_0.et_pb_promo .et_pb_promo_button.et_pb_button:hover:after,body #page-container .et_pb_section .et_pb_cta_1.et_pb_promo .et_pb_promo_button.et_pb_button:hover:after,body #page-container .et_pb_section .et_pb_cta_2.et_pb_promo .et_pb_promo_button.et_pb_button:hover:after{margin-left:.3em;left:auto;margin-left:.3em;opacity:1}}@media only screen and (max-width:767px){.et_pb_text_0 h1{font-size:32px}.et_pb_text_0{border-left-width:10px}body #page-container .et_pb_section .et_pb_cta_0.et_pb_promo .et_pb_promo_button.et_pb_button:after,body #page-container .et_pb_section .et_pb_cta_1.et_pb_promo .et_pb_promo_button.et_pb_button:after,body #page-container .et_pb_section .et_pb_cta_2.et_pb_promo .et_pb_promo_button.et_pb_button:after{line-height:inherit;font-size:inherit!important;margin-left:-1em;left:auto;display:inline-block;opacity:0;content:attr(data-icon);font-family:ETmodules!important;font-weight:400!important}body #page-container .et_pb_section .et_pb_cta_0.et_pb_promo .et_pb_promo_button.et_pb_button:before,body #page-container .et_pb_section .et_pb_cta_1.et_pb_promo .et_pb_promo_button.et_pb_button:before,body #page-container .et_pb_section .et_pb_cta_2.et_pb_promo .et_pb_promo_button.et_pb_button:before{display:none}body #page-container .et_pb_section .et_pb_cta_0.et_pb_promo .et_pb_promo_button.et_pb_button:hover:after,body #page-container .et_pb_section .et_pb_cta_1.et_pb_promo .et_pb_promo_button.et_pb_button:hover:after,body #page-container .et_pb_section .et_pb_cta_2.et_pb_promo .et_pb_promo_button.et_pb_button:hover:after{margin-left:.3em;left:auto;margin-left:.3em;opacity:1}}
.et_pb_promo_description {
    padding-bottom: 20px;
    position: relative;
}

.auzalan_mi_sombra{
	box-shadow:0px 30px 65px -30px rgba(0,0,0,0.35)
}